<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Register</h1>
    <form action="/user/register" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" required /><br/><br/>
      <label for="email">Email:</label>
      <input type="text" name="email" required /><br/><br/>
      <label for="password">Password:</label>
      <input type="text" name="password" required /><br/><br/>
      <label for="image">Image:</label>
      <input type="file" name="image" required /><br/><br/>
      <input type="submit" />
    </form>
  </body>
</html>
